.container
	.panel.panel-default
		.panel-heading 
			=link_to "<span class='glyphicon glyphicon-plus'></span><span class'glyphicon-class></span> Usuario".html_safe, new_usuario_path, class: "btn btn-default"
		%table.table
			%thead
				%tr
					%th #
					%th Nombre
					%th email
					%th Eliminar
			%tbody
				- @users.each do |user|
					%tr
						%td= user.id
						%td= user.nombre
						%td= user.email
						%td= link_to "Eliminar", usuario_path(user.id), method: :delete, data: { confirm: "You sure?" }

	= link_to 'volver', admin_index_path
