.container
  = form_for @user, url: {:action => 'create'}, html: { method: :post } do |f|
    - if @user.errors.any?
      #error_explanation
        %h2
          = pluralize(@user.errors.count, "error")
          prohibited this post from being saved:
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg
    .field
      = f.label :nombre
      = f.text_field :nombre, class: "form-control"
    %br
    .field
      = f.label :email
      = f.text_field :email, class: "form-control"
    %br
    .field
      = f.label :password
      = f.text_field :password, class: "form-control"
    %br
    .field
      = f.label :password_confirmation
      = f.text_field :password_confirmation, class: "form-control"
    %br
    .actions
      = f.submit "Crear Usuario", class: "btn btn-primary"