= form_for @comment do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@comment.errors.count, "error")} prohibited this comment from being saved:"
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nombre
    = f.text_field :nombre
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :web
    = f.text_field :web
  .field
    = f.label :content
    = f.text_area :content
  .field
    = f.label :commentable_id
    = f.number_field :commentable_id
  .field
    = f.label :commentable_type
    = f.text_field :commentable_type
  .actions
    = f.submit 'Save'
