= render template: "posts/show"
.container#comment-area{ style: "width:100%;"}
  .col-sm-8.col-md-8{style:"padding:0px;"}
    .col-sm-12.col-md-12{style:"padding:0px;"}
      %hr
      %h3 Comentarios
      - if @comments.count == 0
        .comment
          No hay comentarios
      - else
        .comments
          - for comment in @comments
            .media
              %a.pull-left{href: "#"}
                %img.media-object{alt: "...", src: "http://assets.witendofi.com/assets/default-avatar-2c18690c1ead5b30559911a0d7764ce0.png", style: "width:64px; heigth:64px;"}/
              .media-body
                %small.pull-right= time_ago_in_words(comment.created_at)                
                %h4.media-heading= comment.nombre
                = comment.content
      %hr
      %h3 Deja tu comentario

      %div#comentar
        = form_for [@commentable, Comment.new]do |f|
          .col-md-12.input-comment
            Nombre
            =f.text_field :nombre, class: "form-control"
          %br
          .col-md-12.input-comment
            Email
            =f.text_field :email, class: "form-control"
          %br
          .col-md-12.input-comment
            Contenido
            =f.text_area :content, class: "form-control"
          %br
          %p
            =f.submit "Comentar", class: "send-message"

.col-xs-12.col-sm-12.col-md-12.col-lg-12{ style: "background-color: #2997ac; color: white; padding-top: 20px;"}
  %center{:style => "font-family: 'Raleway', sans-serif;"} 
    Todos los derechos reservados 2014. Desarrollado por
    %span
      %span{:style => "font-size: 16px; font-style: italic; font-weight: bold; font-family: 'Raleway', sans-serif;"} TREMMEL
    %br
  %br

:javascript 
  
  if ("#{request.original_url.scan("blog").count}" == 1) {
    $('.top-nav .current').removeClass("current")
    $('.top-nav li').eq(5).addClass("current")
    $('.top-nav a').attr("class", "external")
    $('.top-nav a').attr("data-no-turbolink", "true")
    $('.pagination a').attr("data-no-turbolink", "true")
    $('.top-nav a').eq(0).attr("href", window.location.origin+"/#home")
    $('.top-nav a').eq(1).attr("href", window.location.origin+"/#somos")
    $('.top-nav a').eq(2).attr("href", window.location.origin+"/#servicios")
    $('.top-nav a').eq(3).attr("href", window.location.origin+"/#clientes")
    $('.top-nav a').eq(4).attr("href", window.location.origin+"/#equipo")
    $('.top-nav a').eq(6).attr("href", window.location.origin+"/#contactanos")
    $(".navbar").animate({opacity: '1', top: '0px'}, 500);
  }

  //twitter timeline
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

  //twitter share
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  
  //facebook share
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  //google+ share
  window.___gcfg = {lang: 'es'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();

