%p#notice= notice

%p
  %b Nombre:
  = @comment.nombre
%p
  %b Email:
  = @comment.email
%p
  %b Web:
  = @comment.web
%p
  %b Content:
  = @comment.content
%p
  %b Commentable:
  = @comment.commentable_id
%p
  %b Commentable type:
  = @comment.commentable_type

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
