.container
	-if @comments.count != 0
		.panel.panel-default
			.panel-heading= "Post ##{@post.id}, Listado de comentarios"
			.table-responsive
				%table.table
					%thead
						%tr
							%th #
							%th Nombre
							%th Email
							%th Web
							%th Fecha
							%th Comentario
							%th Acción
					%tbody
						- @comments.each	do |comment|
							%tr
								%td
									= comment.id
								%td
									= comment.nombre
								%td
									= comment.email
								%td
									= comment.web
								%td
									= comment.created_at
								%td
									= link_to "#{comment.content.split(" ")[0..10].join(" ")}...", "#", data: { toogle: "tooltip", title:"#{comment.content}", placement:"bottom"  }
								%td
									= link_to 'Destroy', post_comment_path(@post.id, comment.id), method: :delete, data: { confirm: 'Are you sure?' }
	-else
		.panel.panel-default
			.panel-heading= "Post ##{@post.id}, No hay comentarios"


:javascript
	$("a").tooltip()