#home
	.background-home
		.row.hidden-xs.hidden-sm{style:"margin-right: 0px;"}
			.col-md-6
				.logo-header-home.no-active
					%a{href: "#somos"}	
						%img{src: "assets/LogoTremmel.png"}
		.row.titles
			.col-md-12.visible-xs.visible-sm
				%center
					.link-scroll.no-active				
						%a{href: "#somos"}
							.scroll-welcome
								%img{src: "assets/scroll-welcome.png"}
							.scroll-down
								%img{src: "assets/logo2_welcome.png"}
			.col-md-12
				%center    
					.title-home
						%h1
							TREMMEL
				.col-md-12
					%center
						.divisor
				.col-md-12
					.v-carousel-mask
						%ul
							%li
								%h2 
									Turismo
									%span{style:"color:#66cc00;"}+ 
									Tecnología
									%span{style:"color:#66cc00;"}>.
							%li 
								%h2 
									Marketing Turístico
									%span{style:"color:#66cc00;"}>.
							%li 
								%h2 
									Posicionamos tu Marca
									%span{style:"color:#66cc00;"}>.
		#green-bar.visible-lg.visible-md
			.row.icons-home.hidden-xs#top-nav
				.col-md-2
					%center
						%a{href:"#servicios"}
							%i.fa.fa-cogs.icon#icon1
								%p Servicios
				.col-md-2
					%center							
						%a{ href:"#somos"}
							%i.fa.fa-bullseye.icon#icon2
								%p Nosotros
				.col-md-2
					%center
						%a{href:"#clientes"}
							%i.fa.fa-briefcase.icon#icon3
								%p Clientes
				.col-md-2
					%center
						%a{href:"#equipo"}
							.icon#icon4
								%div{style:"padding-top: 70px;"}
									%p Team
				.col-md-2
					%center
						%a{href:"#blog"}
							%i.fa.fa-book.icon#icon5
								%p Blog
				.col-md-2
					%center
						%a{href:"#contactanos"}
							%i.fa.fa-map-marker.icon#icon6
								%p Contáctanos

#servicios
	#background-servicios.seccion
		.page-header
			%center
				%h3{style:'color:white;'} SERVICIOS
				.title-divisor
				%h1#title-large
					%span.punto ¿
					%span> QUÉ HACEMOS EN TREMMEL
					%span.punto> ?
		%center
			%h4.text-servicios-1
				Damos soluciones digitales para potenciar el turismo.

		%br
		%br	
		.row
			.col-md-4
				%center
					.item-servicio
						%a{:href => "", "data-target" => "#modalcreativo", "data-toggle" => "modal"} 	
							.servicio-img#img-creativo
								=image_tag "turismocreativo.png" , id: "turismocreativo"
						%h3
							TURISMO CREATIVO	
						%p 
							Llevamos el diseño gráfico al turismo para acentuar y despertar el interés de tus clientes. Impacta y provoca en el turista la sensación de vivir una experiencia. 
			.col-md-4
				%center
					.item-servicio
						%a{:href => "", "data-target" => "#modaldigital", "data-toggle" => "modal"} 
							.servicio-img#img-digital
								=image_tag "turismodigital.png" , id: "turismodigital"
						%h3
							TURISMO DIGITAL	
						%p 
							Estar presente en redes sociales hoy en día es muy beneficioso para las empresas turísticas. Humaniza tu marca, acércate a tus clientes, la interacción es factor.
			.col-md-4
				%center
					.item-servicio	
						%a{:href => "", "data-target" => "#modalinteligente", "data-toggle" => "modal"} 					
							.servicio-img#img-inteligente
								=image_tag "turismointeligente.png", id: "turismointeligente"
						%h3
							TURISMO INTELIGENTE						
						%p 
							Aumenta tu alcance y posicionate en internet con nuestras aplicaciones de última tecnología. Hacemos más que páginas web, diseñamos extensiones de tu empresa en internet.

			
			

#somos.seccion
	.page-header
		%center
			%h3 ACERCA DE NOSOTROS
			.title-divisor
			%h1#title-large
				%span.punto ¿
				%span> POR QUÉ ELEGIR TREMMEL
				%span.punto> ?

			%br
			%h3 El turismo y la tecnología son nuestras pasiones
			
	.row#textoSomos{ style:"margin: 0px;"}
		.col-md-4{style: "margin-bottom:40px"}
			%center
				=image_tag "about-1.jpg",width: "100%", id:"img-somos"
		.col-md-4{style: "margin-bottom:30px"}
			.container.text-somos
				%p
					La información ayuda al turista a tomar decisiones en la selección de su destino, hotel o posada, ruta de viaje, restaurante, establecimientos, en fin, la mayoría de los servicios por no decir todos, y la interacción se torna cada vez más vital para esa toma de decisiones, donde la tecnología juega un papel importante, y ese “feedback” entre el turista y la empresa les permitirá a los prestadores de servicios: mejorar y destacarse.
				%center
					= image_tag "Tremmel-somos.png", id:"logo-about"

		.col-md-4{style: "margin-bottom:40px"}
			%center
				=image_tag "about-2.jpg",width: "100%"	, id:"img-somos"



= render template: "layouts/clientes"

= render template: "layouts/equipo"


- @posts = Kaminari.paginate_array(@posts).page(params[:page]).per(6)
.container#blog
	.col-sm-12.col-md-12
		.page-header
			%center
				%h3 BLOG
				.title-divisor
				%h1#title-large
					%span POSTS RECIENTES
					%span.punto> .
		-	 @posts.each_with_index do |post, index|
			- if index.modulo(3) == 0
				.row
			- if post.publicar
				.col-sm-4.col-md-4{ style:"padding-left: 0px; padding-right: 0px;"}
					.thumbnail
						= link_to	(image_tag "#{post.imagen_url(:small).to_s}"), post_comments_path(post)
						.caption
							%h4
								= "#{post.titulo}"
							%small 
								= "#{@users.find(post.user_id).nombre}, #{post.created_at.strftime("%B %d, %Y")}"
							%p= "#{post.contenido.split(" ")[0..40].join(" ")}...".html_safe
							%div.read-more
								= link_to "Leer mas...", post_comments_path(post)
.footer
	.show-more-cube
		= link_to "<span>Mas Posts</span>".html_safe, blog_index_path()


//contacto
= render template: "layouts/contacto"

//Modals
= render template: "layouts/modaldigital"
= render template: "layouts/modalinteligente"
= render template: "layouts/modalcreativo"


:javascript
	$(function(){
    
		$.fn.center = function () {
			this.css("position","absolute");
			this.css("top", ( $(window).height() - this.height() ) / 2  + "px");
			this.css("left", ( $(window).width() - this.width() ) / 2 + "px");
			return this;
		}

		$(".titles").center();

		$(window).resize(function(){ // whatever the screen size this
			$(".titles").center();       // this will make it center when 
		});                          // window resize happens  
	});

	$( "#img-inteligente" ).hover(
		function() {
			$("#turismointeligente").css("display", "none")
		  $("#turismointeligente").attr("src","assets/turismointeligente_hover.png")
		  $("#turismointeligente").fadeIn(400);

		}, function() {
			$("#turismointeligente").css("display", "none")
		  $("#turismointeligente").attr("src","assets/turismointeligente.png")
		  $("#turismointeligente").fadeIn(400);
		}
	);
	$( "#img-creativo" ).hover(
		function() {
			$("#turismocreativo").css("display", "none")
			$("#turismocreativo").attr("src","assets/turismocreativo_hover.png")
			$("#turismocreativo").fadeIn(400);
		}, function() {
			$("#turismocreativo").css("display", "none")
			$("#turismocreativo").attr("src","assets/turismocreativo.png")
			$("#turismocreativo").fadeIn(400);
		}
	);
	$( "#img-digital" ).hover(
		function() {
			$("#turismodigital").css("display", "none")
			$("#turismodigital").attr("src","assets/turismodigital_hover.png")
			$("#turismodigital").fadeIn(400);
		}, function() {
			$("#turismodigital").css("display", "none")
			$("#turismodigital").attr("src","assets/turismodigital.png")
			$("#turismodigital").fadeIn(400);
		}
	);


