<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo, class: "form-control"%>
  </div>

  <br>
  <div class="field">
    <%= f.file_field :imagen %><br>
    <%= f.hidden_field :imagen_cache, class: "form-control"%>
  </div>

  <br>
  <div class="field">
    <%= f.label :contenido %><br>
    <%= f.text_area(:contenido, :class => 'ckeditor') %>
  </div>
  <br>
  <div class="field">
    <%= f.check_box :publicar%>
    <%= f.label "¿Desea publicar este artículo?" %>
  </div>
  <div class="field hidden">
    <%= f.label :user_id %><br>
    <%= f.text_field(:user_id, :value => "#{current_user.id}") %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Crear Post" %>
  </div>
<% end %>
