<div class="container">

  <div class="panel panel-default">
  <!-- Default panel contents -->
    <div class="panel-heading">Listado de Posts</div>

    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Título</th>
          <th>Autor</th>
          <th>¿Publicado?</th>
          <th>Fecha de publicación</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
          <%- if post.user_id == current_user.id %>
            <tr>
              <td><%= post.id %></td>
              <td><%= post.titulo %></td>
              <td><%= @users.find(post.user_id).nombre %></td>
              <% if post.publicar %>
                <td><span class="glyphicon glyphicon-ok-circle"></span></td>
              <% else %>
                <td><span class="glyphicon glyphicon-remove-circle"></span></td>
              <% end %>
              <td><%= post.created_at.strftime("%B %d, %Y")%></td>
              <td><%= link_to 'Show', post %> | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to "Comentarios", supervise_post_comments_path(post) %> | <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to 'volver', admin_index_path %>

</div>
