= content_for(:title, "#{@post.titulo}")
.container#blog{ style: "padding-top: 0px;"}
  .container#blog
  .page-header
    %center
      %h3 BLOG
      .title-divisor
      %h1#title-large
        %span Nuestros Posts
        %span.punto> .
  .col-sm-8.col-md-8{style:"padding:0px;"}
    .col-sm-12.col-md-12{style:"padding:0px;"}
      .thumbnail
        = link_to (image_tag "#{@post.imagen_url(:large).to_s}"), "#"
        .caption
          %h4
            = "#{@post.titulo}"
          %small 
            = "#{@user.nombre}, #{@post.created_at.strftime("%B %d, %Y")}"
          %p= @post.contenido.html_safe
    .col-sm-12.col-md-12.container-social.visible-sm.visible-md.visible-lg
      .col-xs-2.col-sm-3.col-md-3.col-lg-2.links-socials#social-facebook
        .fb-like{"data-action" => "like", "data-href" => "#{request.url}", "data-layout" => "button_count", "data-share" => "false", "data-show-faces" => "true"}
      .col-xs-2.col-sm-3.col-md-3.col-lg-2.links-socials#social-gplus
        .g-plus{"data-action"=>"share", "data-annotation"=>"bubble"}
      .col-xs-2.col-sm-3.col-md-3.col-lg-2.links-socials#social-twitter
        = link_to "Twittear", "https://twitter.com/share", class: "twitter-share-button", "data-lang" => "es", "data-text" => "#tremmel #{@post.titulo}", "data-url" => "#{request.url}", "data-via" => "tremmelweb"
    %ul.ul-xs-socials.visible-xs
      %center
        %li#like
          .fb-like{"data-action" => "like", "data-href" => "#{request.url}", "data-layout" => "button_count", "data-share" => "false", "data-show-faces" => "true"}
        %li#plus
          .g-plus{"data-action"=>"share", "data-annotation"=>"bubble"}
        %li#tw
          = link_to "Twittear", "https://twitter.com/share", class: "twitter-share-button", "data-lang" => "es", "data-text" => "#tremmel #{@post.titulo}", "data-url" => "#{request.url}", "data-via" => "tremmelweb"

  %center
    %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
    / TREMMELBLOG
    %ins.adsbygoogle{"data-ad-client" => "ca-pub-5862778022302728", "data-ad-slot" => "5256367218", :style => "display:inline-block;width:728px;height:90px"}
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});
  %br/          
  .row
    .col-sm-4.cold-md-12.links-socials
      %h3.title-short Últimos Posts
      %ul.simple-link-list
        - Post.order("created_at DESC").first(6).each do |post|
          %li
            =link_to "<h6>#{post.titulo}</h6>".html_safe, post_comments_path(post), "data-no-turbolink" => "true"
      %h3.title-short Tweets
      .col-sm-4.cold-md-12.timeline
        %a.twitter-timeline{"data-dnt" => "true", "data-widget-id" => "430978242892165120", :href => "https://twitter.com/tremmelweb" } Tweets de "@tremmelweb"


    - if request.original_url.last.to_i != 0 && request.original_url.scan("blog").count == 1
      = link_to "Comentarios", "/blog/posts/#{@post.id}/comments", class: "btn btn-default"

  
