- @posts = Kaminari.paginate_array(@posts).page(params[:page]).per(3)
.container#blog
	.page-header
		%center
			%h3 BLOG
			.title-divisor
			%h1#title-large
				%span Nuestros Posts
				%span.punto> .
	.col-sm-8.col-md-8
		-	 @posts.each_with_index do |post, index|
			.row
				- if post.publicar
					.col-sm-12.col-md-12
						.thumbnail
							= link_to	(image_tag "#{post.imagen_url(:large).to_s}"), post_comments_path(post), "data-no-turbolink" => "true"
							.caption
								%h4
									= "#{post.titulo}"
								%small 
									= "#{@users.find(post.user_id).nombre}, #{post.created_at.strftime("%B %d, %Y")}"
								%p= "#{post.contenido.split(" ")[0..80].join(" ")}...".html_safe
								%div.read-more
									= link_to "Leer mas...", post_comments_path(post), "data-no-turbolink" => "true"
		.row
			%center
				= paginate @posts
	.row
		.col-sm-4.cold-md-12
			%h3.title-short Últimos Posts
			%ul.simple-link-list
				- @posts_recientes.first(6).each do |post|
					%li
						=link_to "<h6>#{post.titulo}</h6>".html_safe, post_comments_path(post), "data-no-turbolink" => "true"
			%h3.title-short Tweets
			.col-sm-4.cold-md-12.timeline
				%a.twitter-timeline{"data-dnt" => "true", "data-widget-id" => "430978242892165120", :href => "https://twitter.com/tremmelweb" } Tweets de "@tremmelweb"
%center
	%script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
	/ TREMMELBLOG
	%ins.adsbygoogle{"data-ad-client" => "ca-pub-5862778022302728", "data-ad-slot" => "5256367218", :style => "display:inline-block;width:728px;height:90px"}
	:javascript
		(adsbygoogle = window.adsbygoogle || []).push({});
	%br/
	
.col-xs-12.col-sm-12.col-md-12.col-lg-12{ style: "background-color: #2997ac; color: white; padding-top: 20px;"}
	%center 
		Todos los derechos reservados 2014. Desarrollado por
		%span
			%span{:style => "font-size: 16px; font-style: italic; font-weight: bold; font-family: 'Raleway', sans-serif;"} TREMMEL
	%br
	%br

:javascript 
	if (window.location.pathname == '/blog') {
		$('.top-nav .current').removeClass("current")
		$('.top-nav li').eq(5).addClass("current")
		$('.top-nav a').attr("class", "external")
		$('.top-nav a').attr("data-no-turbolink", "true")
		$('.pagination a').attr("data-no-turbolink", "true")
		$('.top-nav a').eq(0).attr("href", window.location.origin+"/#home")
		$('.top-nav a').eq(1).attr("href", window.location.origin+"/#somos")
		$('.top-nav a').eq(2).attr("href", window.location.origin+"/#servicios")
		$('.top-nav a').eq(3).attr("href", window.location.origin+"/#clientes")
		$('.top-nav a').eq(4).attr("href", window.location.origin+"/#equipo")
		$('.top-nav a').eq(6).attr("href", window.location.origin+"/#contactanos")
		$(".navbar").animate({opacity: '1', top: '0px'}, 500);
	}

	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
