/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "twitter/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.navbar-default .navbar-nav > .current > a, 
.navbar-default .navbar-nav > .current > a:hover, 
.navbar-default .navbar-nav > .current > a:focus {
    color: #FFF;
    background-color: #66cc00;
}

#front-navbar {
	top: -50px;
	min-height:40px !important;
	background-color: white;
	border-bottom-width: 0px;
	box-shadow: 0 0 2px rgba(0,0,0,0.65);
	opacity: 0;
}

.navbar .container{
	width: 100%;
	padding: 0px;
}

.navbar .btn-primary {
	background-color: #494545;
	padding-bottom: 5px;
	padding-top: 7px;
}

.navbar-collapse li{
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.navbar-collapse a {
	color: black;
}

.navbar .container {
	width: 97%;
}

.social-icons {
	font-size: 30px;
	padding-top: 1.5px;
}

.social-icons a{
	padding-left: 8px;
	padding-bottom: 8px;
	padding-top: 9px;
	padding-right: 0px;
}

.social-icons a {
	text-decoration: none;
	color: black;
}

.social-icons i {
	margin-top: 9px;
}

.social-icons #linkedin {
	padding-right: 8px;
}

.min-social-icons #linkedin {
	padding-right: 10px;
}

.min-social-icons {
	font-size: 24px;
	padding-top: 1.5px;
	text-align: center;
}

.min-social-icons a{
	text-decoration: none;
	padding-left: 10px;
	padding-right: 4px;
	padding-top: 8px;
	padding-bottom: 10px;
}

#facebook:hover{
	background-color: #3b5998;
	color: white;
	transition: all 0.5s ease-in-out;
}

#twitter:hover {
	background-color: #2daddc;
	color: white;
	transition: all 0.5s ease-in-out;
}

#linkedin:hover {
	background-color: #069;
	color: white;
	transition: all 0.5s ease-in-out;
}

.page-header h3 {
	color: #646464;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	display: inline-block;
	margin: 0;
}

.page-header  {
	border-bottom: none;
}

.title-divisor {
	background: url('/assets/divider_nuevo.png') center;
	height: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#title-large {
	font-family: 'Raleway', sans-serif;
	font-size: 18pt;
	font-weight: bold;
	color: black;
}

.punto {
	color: #66cc00;
}

.navbar-brand {
	padding-top: 14px;
	padding-bottom: 14px;
}

.brand-tremmel h4{
	margin: 0px;
	font-size: 20px;
}

.brand-tremmel .label {
	background-color: #494545;
	padding-top: 6px;
	padding-bottom: 6px;
}

.text-brand-tremmel {
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	font-weight: bold;
}

@media screen and (min-width: 569px) {
  .title-divisor {
		width: 50%;
	}

	 #title-large {
		font-size:30pt;
	}
}

@import "font-awesome";
