	// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html, *{
	padding: 0px;
	margin: 0px;
}

.logo-header-home2 img{
  margin-left: 5px;
  width: 130px;
  height: 130px;
}

.logo-header-home2{
  background: #27e55c; /* Old browsers */
  background: -moz-linear-gradient(top, #27e55c 24%, #34db2b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(24%,#27e55c), color-stop(100%,#34db2b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #27e55c 24%,#34db2b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #27e55c 24%,#34db2b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #27e55c 24%,#34db2b 100%); /* IE10+ */
  background: linear-gradient(to bottom, #27e55c 24%,#34db2b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27e55c', endColorstr='#34db2b',GradientType=0 ); /* IE6-9 */
  width: 140px;
  height: 160px;
  margin-left: 15%;
  box-shadow: 3px 3px 10px #c0c0c0;
  float: left;
  margin-right:3%;
  margin-bottom: -20%;
  margin-top: -10px;
  padding-top: 10px;
  border-radius: 0px 0px 10px 10px;  
  border-bottom: 2px solid #9FF781;
  border-left:2px solid #9FF781;
}

#blog {
	width: 100%;
}

#bodyBlog{
	border-top: 8px solid #3ADF00;
}

#blog .col-md-12 {
	padding: 0px;
}

#blog .col-sm-6 {
	padding: 8px;
}

#blog h4 {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: bold;
	color: black;
	text-align: justify;
}

#blog small{
	font-family: 'Alegreya Sans SC', sans-serif;
}

#blog .page-header {
	border: 0px;
}

#blog p {
	font-family: 'Alegreya Sans SC', sans-serif;
	text-align: justify;
}

.thumbnail {
	border: 0px;
}

.thumbnail img {
	width: 100%;
	max-height: 350px;
}


.read-more {
	text-align: right;
}

.read-more a {
	font-family: 'Open Sans',sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 20px;
	letter-spacing: 1px;
	color: #fff;
	padding: 3px 8px;
	margin: 0 3px;
	position: relative;
	background-color: #bbb;
	text-decoration: none;
}

.read-more a:hover {
	background-color: #2997ac;
}

.title-short {
	font-family: 'Raleway', sans-serif;
	font-size: 16pt;
	font-weight: bold;
	color: black;
	margin-top: 0px;
	border-bottom: 1px solid #c0c0c0;
	padding-bottom: 10px;
}

.simple-link-list {
	list-style-type: none;
	margin-top: 18px;
	margin-bottom: 18px;
}

.simple-link-list a {
	color: #084B8A;
}

.simple-link-list h6 {
	font-family: 'Raleway', sans-serif;
	font-size: 10pt;
}

.timeline {
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
}

.send-message {
	font-family: 'Raleway', sans-serif;
	color: white;
	background-color: rgba(102, 204, 0, 0.86);
	border: 0px;
	width: 100px;
	height: 40px;
}

.send-message:hover {
	background-color: #66cc00;
	transition: all 0.3s ease-in-out;
}

#comment-area {
	font-family: 'Raleway', sans-serif;
}

#comment-area h3 {
	font-family: 'Raleway', sans-serif;
	color: #66cc00;
}

#comentar {
	font-family: 'Raleway', sans-serif;
	margin-bottom: 25px;
}

#comentar label {
	font-weight: none;
}

.input-comment {
	padding-left: 0px;
}

.input-comment input {
	border-radius: 0px;
}

.input-comment textarea {
	border-radius: 0px;
}

.media {
	background-color: #F7F7F7;
	padding: 10px;
}

.container-social {
	margin-bottom: 40px;
}

.ul-xs-socials {
	list-style: none;
	margin-bottom: 25px;
}
 


@media screen and (max-width: 780px) { 
	.fb-like {
		top: -25px;
	}

	#plus {
		margin-top: -15px;
		margin-bottom: 5px;
	}

	#tw {
		padding-left: 25px;
	}
}