#team-description {
	text-align: center;
	max-width: 280px;
	padding: 0px;
}

#team-description	h4{
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	margin-top: 3px;
	margin-bottom: 3px;
}

#team-description p {
	word-wrap: break-word;
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	text-align: justify;
}

#team-nombre {
	background-color: #238294;
	color: white;
	padding: 0px;
}

#team-cargo {
	background-color: #7eae4d;
	color: white;
	padding: 0px;
}

.popover {
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	color: white;
	background-color: rgba(255, 255, 255, 0);
	text-align: justify;
	border-radius: 0px;
	border: 0px;
	-webkit-box-shadow: 0px 0px rgba(0, 0, 0, 0);
	box-shadow: 0px 0px rgba(0, 0, 0, 0);
}
.item-team {
	margin-bottom: 30px;
}

.popover.bottom .arrow:after {
	content: " ";
	top: 1px;
	margin-left: -10px;
	border-top-width: 0;
	border-bottom-color: #238294; 
}

.arrow {
	margin-top: 25px;
}

.popover-content {
	text-align: center;
	margin-top: 24px;
	background-color: #238294;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

#team{
	width: 50%;
}
/*visualizacion para phone*/
@media screen and (max-width: 780px) {
  #team-description {
  	margin-bottom: 40px;
  }
  #team{
		width: 100%;
	}

}

@media(min-width: 1600px){
  #team{
		width: 70%;
	}
}

@media(min-width:768px) {
	.item-team {
		margin-bottom: 30px;
	}

	#team{
		min-width: 70%;
	}
}
/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
	#team{
		width: 100%;
	}
}