.modal-body-green{
	background: #47a447;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
}

.item-servicio-modal{
	background: #ffffff;
	padding: 30px;
	padding-left: 35px;
	padding-right: 35px;
	border-radius: 80%;
	box-shadow: 0px 0px 15px #0B3B0B;
	margin:-80px;
	margin-top: -100px;
}

.modal-body-blue{
	background: #238294;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
}

.modal-body ul{
	list-style-type: none;
}

.servicio-img2 {
  box-shadow: 0px 0px 15px #0B3B0B;
  position: relative;
  background-color: #ffffff;
  font-size: 80px;
  border-radius: 50%;
  height: 140px;
  width: 140px;
  margin:-80px;
  margin-top: -85px;

  #t-inteligente{
  	position: relative;
  	left: 35px;
  	top: 8px;
  }
  #t-digital{
  	position: relative;
  	left: 30px;
  }
  #t-creativo{
  	position: relative;
  	left: 25px;
  	top: 8px;
  }

}


#servicio-img2 img{
	margin-top: -50px;
}