// Place all the styles related to the staticpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  width: 100%;
}

.v-carousel-mask { 
  height: 125px; 
  overflow:hidden;
  font-family: 'Alegreya Sans SC', sans-serif;  
  font-weight: bold;  
  color:#FFFFFF; 
  text-align: center;
  opacity:0;
}

.v-carousel-mask ul{  
  list-style-type: none;
  padding-left: 0px; 
  width: auto;
  position: relative;
}

.v-carousel-mask li{
  height: 170px;
}

.seccion{
  padding-top: 30px;
  padding-left: 15px; 
  padding-right: 15px;
}

#home{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  background: #292929 url('/assets/background 1600x900-5.jpg') 50% 0 repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo-header-home{
  background: #2997ac; /* Old browsers */
  background: -moz-linear-gradient(top, #2997ac 24%, #52c0d5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(24%,#2997ac), color-stop(100%,#2997ac)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2997ac 24%,#2997ac 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2997ac 24%,#52c0d5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2997ac 24%,#52c0d5 100%); /* IE10+ */
  background: linear-gradient(to bottom, #2997ac 24%,#52c0d5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='##2997ac', endColorstr='#52c0d5',GradientType=0 ); /* IE6-9 */
  width: 140px;
  height: 160px;
  position: relative;
  margin-left: 15%;
  box-shadow: 3px 3px 10px #2E2E2E;
  float: left;
  margin-right:3%;
  top: -160px;
  padding-top: 10px;
  border-radius: 0px 0px 3px 3px;  
}

.icons-home{
  color:#9FF781;
  width: 100%;
}

.icons-home i{
  opacity: 0;
  font-size: 70px;
}

.icons-home a{
  color: white;  
  font-size: 0px;
  text-decoration: none;
}

.icons-home p{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  opacity: 0;
}

#icon1 {
  opacity: 0;
  background-repeat: no-repeat;
  width: 65px;
  height: 65px;
  margin-bottom: 5px;
}

#icon4 {
  opacity: 0;
  background-image: url("/assets/equipo.png");
  background-repeat: no-repeat;
  width: 65px;
  height: 65px;
  margin-bottom: 5px;
}

.logo-header-home img{
  margin-top: 5px;
  width: 130px;
  height: 130px;
}

#green-bar{
  position: absolute;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background: #238294;
  width: 100%;
  height: 130px;
  padding-top: 25px;

}

.divisor{
  background: url('/assets/divider.png') center;
  height: 10px;
  width: 60%;
  opacity:0;
}

.title-home h1{
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-size: 80pt;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-style: italic;
  color: #ffffff;
  opacity:0;
}


/*visualizacion para resoluciones mas altas que phone*/
@media screen and (min-width: 768px) {
  h1 {
    font-size:65pt;
  }

  h2 {
    padding: 12px;
    margin-top: 0px;
    margin-bottom: 0px; 
    font-size: 50px;
    font-weight: bold;
  }

  .text-servicios-1{
    width: 60%;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
  }

  #clientes-quotes{
    font-family: 'Raleway', sans-serif;
    width: 55%;
    font-size: 20px;
  }

  .titles {
    height: auto;
    width: 100%;
    position: absolute;
    margin: 0px;
    left:0;
    top:0;
  }

  .background-home{
    background: url('/assets/descarga.png') fixed;
    width: 100%;
    height: 100%;
    border-top: 8px solid #66cc00;
  }

  #background-servicios{
    background: url('/assets/descarga.png') fixed;  
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    color: #ffffff;  
  }
}


/*visualizacion para tablet portrait*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) { 
  #mid {
    margin-bottom: 230px;
    margin-top: 230px;
  }

  .divisor {
    background: url('/assets/divider.png') center;
    height: 10px;
    width: 80%;
    opacity:0;
  }
}


/*visualizacion para phones*/
@media screen and (max-width: 768px) {
  h2 {
    padding: 12px;
    margin-top: 0px;
    margin-bottom: 0px; 
    font-size: 28px;
    font-weight: bold;
  }

  #green-bar{
    height: 10px;
    width: 100%;
  }

  .title-home h1{
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-size: 30pt;
  }

  .background-home {
    padding-top: 100px;
  }

  #mid {
    margin-top: -55px
  }

  .thumbnail img {
    width: 100%;
  }

  .text-servicios-1{
    width: 100%;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
  }

  #clientes-quotes{
    font-family: 'Raleway', sans-serif;
    width: 100%;
  }

  .titles {
    height: 260px;
    width: 100%;
    position: absolute;
    margin: 0px;
    left:0;
    top:0;
  }

  .background-home{
    background-color: rgba(0, 3, 65, 0.5);
    width: 100%;
    height: 100%;
    border-top: 8px solid #66cc00;
  }

  #background-servicios{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    color: #ffffff; 
  }

}

/*visualizacion para phone landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) and (orientation : landscape) { 
  #mid {
    margin-top: -110px;
  }

  .seccion{
    padding-top: 80px;
    padding-bottom: 100px;
  }
}

.link-scroll{
  z-index: 3;
  width: 140px;
  height: 140px;
  position: relative;
  background: rgba(0,0,0,0);
  -webkit-border-radius: 125px;
  -moz-border-radius: 125px;
  border-radius: 125px;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  transition: all 400ms linear;
}

.link-scroll:hover{
  background: rgba(0,0,0,0);
  border-color: #fff;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.scroll-welcome{
  position: absolute;
  left: auto;
  top: auto;
  bottom: 0px;
  left: 0px;
  opacity: 1;
  z-index: 1;
}

.scroll-down {
  position: absolute;
  left: auto;
  top: auto;
  bottom: 0px;
  left: 0px;
  opacity:0;
  z-index: 2;
  transition:opacity 0.4s linear;
}

.link-scroll:hover .scroll-welcome{
  opacity: 0;
  transition:opacity 0.4s linear;
}

.link-scroll:hover .scroll-down{
  visibility: visible;
  opacity: 1;
}

.trem {
  color: white;
}

.mel {
  color: white;
}

#somos {
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

#textoSomos{
  font-family: 'Raleway', sans-serif;
  width:100%;
}

#servicios{
  background: url('/assets/background 1600x900-1.jpg') fixed;
  background-size: cover; 
}

#background-servicios h1{
  color: #ffffff;
}

.item-servicio {
  z-index: 0;
  margin-bottom: 40px;
}

.item-servicio i:hover {
  background-color: #494949;
}

.servicio-img:hover {
  background-color: #494949;
}

.item-servicio i{
  padding: 30px;
  background-color: #ffffff;
  font-size: 80px;
  border-radius: 50%;
  height: 140px;
  width: 140px;
  -webkit-transition:background-color 0.5s;
}

.servicio-img {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  height: 140px;
  width: 140px;
  -webkit-transition:background-color 0.5s;
  transition: background-color 0.5s;
}

.servicio-img img{
  position: absolute;
  z-index: 1;
}

.servicio-img {

  #turismointeligente {
    top: 30px;
    left: 27px;
  }

  #turismodigital {
    top: 20px;
    left: 24px;
  }

  #turismocreativo {
    top: 33px;
    left: 21px;
  }

}

.item-servicio p{
  font-family: 'Raleway', sans-serif;
  width: 70%;
}

#clientes{
  background: #238294;
  border-top: 2px solid #A9D0F5;
  border-bottom: 2px solid #0B3861;
  color: #FFFFFF;
  padding-left: 15px; 
  padding-right: 15px;
  padding-bottom: 65px;
}
#cliente-img{
  padding-top: 50px;
}
#cliente-img2{
  padding-top: 40px;
}
#cliente-img3{
  padding-top: 20px;
}
#cliente-img4{
  padding-top: 15px;
}
#cliente-img6{
  padding-top: 10px;
}
#cliente-img7{
  padding-top: 25px;
}
#clientes h1{
  color: #FFFFFF;
}
#header-clientes{
  margin-bottom: 40px;
}
#clientes-happy{
  font-family: 'Raleway', sans-serif;
  width: 50%;
  font-size:15px;
  font-style: bold;
}

.divisor-q {
  background: url('/assets/divider_q.png') center;
  height: 25px;
  width: 60%;
}


.navbar-default a{
  color: black;
}

#green-bar-2{
  background:#2997ac;
  height: 25px;
  width: 100%;
  z-index: 2;
  padding-top: 25px;
  margin-top: 30px;
}

#contactanos{
  background: url('/assets/body-bg.jpg') center;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 20px;
}

#contactanos h1{
  color: #FFFFFF;
}

/*blog*/
#blog {
  padding-top: 30px;
}

.show-more-cube {
  background: url('/assets/divider-all.png') no-repeat center center;
  width: 50%;
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 4%;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  transition: all 400ms linear;
}

.show-more-cube a {
  font-family: 'Open Sans',sans-serif;
  text-decoration: none;
  background-color: #bbb ;
  color: #fff;
  display: block;
  font-size: 10px;
  font-weight: bold;
  height: 70px;
  line-height: 16px;
  margin: auto;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  width: 70px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.show-more-cube a:hover {
  background-color: #2997ac;
  transition: all 0.5s ease-in-out;
  -webkit-transform: rotate(405deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(405deg);
}


.show-more-cube a span {
  width: 70px;
  height: 16px;
  padding-right: 10px;
  padding-top: 5px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: block;
}

.tremmel-bar {
  margin-top: 20px;
  margin-bottom: 30px;
}

#container-team {
  width: 100%;
  margin-bottom: 35px;
}

.foto-team{
  position: relative;
  box-shadow: 0px 0px 10px #c0c0c0;
  max-width: 280px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: -3px;
}

#image-1{
  background-image: url('/assets/eduardo.jpg');
  background-size: cover;
  width: 100%;
  min-height: 250px;
}

#image-2{
  background-image: url('/assets/tremont.jpg');
  background-size: cover;
  width: 100%;
  min-height: 250px;
}

.back-image-team {
  width: 0%;
  height: 0%;
  background-color: rgba(102, 197, 0, 0.5);
  padding: 0px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transition: width 0.1s, height 0.1s, padding 0.1s, top 0.1s, left 0.1s;
}

.back-image-team-2 {
  position: relative;
  width: 0%;
  height: 0%;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: width 0.3s, height 0.3s, padding 0.3s, top 0.3s, left 0.3s;
}

.image-team:hover > .back-image-team{
  width: 100%;
  height: 250px;
  padding: 10px;
  top: 0%;
  left: 0%;
}

.image-team:hover > .back-image-team-2{
  width: 89%;
  height: 88%;
  padding: 10px;
  top: 15px;
  left: 15px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.image-team:hover > #icons-social-team {
  opacity:1;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
}

#icons-social-team{
  opacity:0;
  position: absolute;
  font-size: 50px;
  color: #ffffff;
  top: 40%;
  left: 22%; 
}

#icons-social-team a{
  color: #ffffff;
  text-decoration: none;
}

#twitter-team{
  -webkit-transition:color 0.5s;
}

#twitter-team:hover{
  color: #01DFD7;
}

#gplus-team{
  -webkit-transition:color 0.5s;
}

#gplus-team:hover{
  color: #DF013A;
}

#linkedin-team{
  -webkit-transition:color 0.5s;
}

#linkedin-team:hover{
  color: #428bca;
}

.contactos-box{
  padding-left: 15px;
  padding-right: 15px;
}

.contactos-box-min{
  padding: 15px;
}

.contactos-input{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  background: #000;
  border: none;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #2997ac;
  color:#FFF;
  font-weight: bold;
}

.contactos-textarea{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  height: 217px;
  background: #000;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #2997ac;
  color:#FFF;
  font-weight: bold;
}

.contactos-lista {
  list-style-type: none;
  font-size: 15px;
}

.contactos-lista i{
  color:#2997ac;
  width: 26px;
}

.contactos-lista a {
  text-decoration: none;
}

.contactos-box-min h3{
  font-size: 40px;
  margin-top: 10px;
  margin-left: -15px;
}

#map_canvas {
  width: 100%;
  height: 250px;
}

label.error {
  color: red;
  font-weight: normal;
  margin-bottom: 5px;
  margin-top: -5px;
}

.alert {
  margin-top: 24px;
  margin-bottom: 0px
}

.close {
  font-weight: normal;
}

.container-client {
  width: 100%;
  margin: 0px;
}

.content-img-client {
  width: 200px;
  height: 120px;
}

#recaptcha_widget {
  position: relative;
  #recaptcha_image {
    width: 100% !important;
    img {
      width: 100% !important;
      height: 43px !important;
      border: 1px solid #2997ac;
    }
  }
}

.input-group {
  button {
    margin-top: -3px;
    background: black;
    border: 1px solid #2997ac;
    height: 42px;
  }
}

.text-somos{
  margin-top:30px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

#textoSomos{
  #img-somos:hover{
    opacity: 0.8;
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }
}
  #logo-about{
    margin-top: 20px;
    width: 30%;
  }

#slice{
  width: 5%;
  padding-left: 5px;
  padding-bottom: 5px;
}

@media(max-width:767px) {
  #textoSomos{
    img{
      width: 100%;
    }
  }
  .text-somos{
    width: 100%;
    text-align: justify;
  }
  #logo-about{
    width: 30% !important;
    margin-top: 20px;
  }

}

@media(min-width: 1600px){
  .text-somos{
    font-size: 26px;
  }
}