%html
  %head
    %title Tremmel
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag    "admin", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "staticpage", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default{:role => "navigation"}
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %a.navbar-brand{:href => "#"} Tremmel
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li.active
            =link_to "Crear Post", new_post_path
          %li
            =link_to "Mis Posts", "/admin/posts"
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to "Usuarios", usuario_index_path
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              = current_user.nombre
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href => "#"} Action
              %li
                %a{:href => "#"} Another action
              %li
                %a{:href => "#"} Something else here
              %li.divider
              %li
                = link_to "Sign out", destroy_user_session_path, :method => :delete
      / /.navbar-collapse
    = yield
    %br
  :javascript
    $('.ckeditor').ckeditor({
        // optional config
    });

