<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="description" content="TREMMEL es una marca creativa que empodera las empresas turisticas con tecnologia. Es especialista en gerencia de las marcas, social media, marketing digital en punto fijo, coro, caracas, maracaibo, valencia y barquisimeto. Nuestros servicios de turismo creativo incluye diseño grafico y diseño web, branding, identidad corporativa y experiencia de usuario UX UI, turismo digital incluye social media, community manager, redes sociales, analitica web, turismo inteligente incluye desarrollo de aplicaciones web, desarrollo de aplicaciones moviles. Business Inteligence. Estamos impulsando el turismo en venezuela, latinoamerica y el mundo."><meta>
		<meta name="keywords" content="turismo, tremmel, consultora, turistica, millenials, marketing, diseño, web, paginas web, punto fijo, paraguana, venezuela, tecnología, consultor integral, asesoria, educación turistica, tremmelca, sistemas, desarrollo, software, premium soft" />
		<meta name="robots" content="noodp,noydir"/>
		<meta property="twitter:card" content="summary" />
		<meta property="twitter:url" content="http://www.tremmelweb.com/" />
		<meta property="twitter:site" content="@tremmelweb" />
		<meta property="fb:page_id" content="141048049392254" />
		<meta property='og:locale' content='es_ES'/>
		<meta property='og:type' content='article'/>
		<meta property='og:site_name' content='Marketing digital turistico en venezuela'/>
	  <title><%= content_for?(:title) ? yield(:title) : "Marketing digital y turistico en Venezuela - TREMMEL" %></title>
	  <%= favicon_link_tag 'favicon.png' %>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= stylesheet_link_tag    "staticpage", media: "all", "data-turbolinks-track" => true %>
	  <%= stylesheet_link_tag    "modals", media: "all", "data-turbolinks-track" => true %>
	  <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Krona+One' rel='stylesheet' type='text/css'>
	  <link href='http://fonts.googleapis.com/css?family=Raleway:400,900' rel='stylesheet' type='text/css'>
	  <link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>
	  <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
	  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	  <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'>
	  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	  <link rel="author" href="https://plus.google.com/b/111794980563613671844/+TREMMELOFICINAPuntoFijo"/>
	  
	  <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>		
		<div id="front-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="btn btn-xs btn-primary navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          	<i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="http://tremmelweb.com/">
          	<div class="brand-tremmel">
	          	<h4>
		          	<span class="label" id="brand-label">
		            	<span  id="trem" class="text-brand-tremmel">TREM</span><span id ="mel"class="text-brand-tremmel">MEL</span>
		            </span>
	            </h4>
            </div>
          </a>
        </div>
        <div class="navbar-collapse collapse" style="height: 1px;">
          <ul class="top-nav nav navbar-nav">
            <li class="current"><a href="#home">Home</a></li>
            <li><a href="#servicios">Servicios</a></li>
            <li><a href="#somos">Nosotros</a></li>
            <li><a href="#clientes">Clientes</a></li>
            <li><a href="#equipo">Team</a></li>
            <li><%= link_to "Blog", "#blog" %></li>
            <li><a href="#contactanos">Contacto</a></li>
            <div class="min-social-icons hidden-sm hidden-md hidden-lg">
							<a href="https://twitter.com/tremmelweb" target="_blank" id= "twitter" class="external">
								<i class="fa fa-twitter-square"></i>
							</a>
							<a href="https://www.facebook.com/tremmelweb" target="_blank" id= "facebook" class="external">
								<i class="fa fa-facebook-square"></i>
							</a>
							<a href="http://www.linkedin.com/company/5069134" target="_blank" id="linkedin" class="external">
								<i class="fa fa-linkedin-square"></i>
							</a>
						</div>
          </ul>
          <div class="social-icons pull-right hidden-xs hidden-sm">
						<a href="https://twitter.com/tremmelweb"  target="_blank" id= "twitter" class="external">
							<i class="fa fa-twitter-square"></i>
						</a>
						<a href="https://www.facebook.com/tremmelweb" target="_blank" id= "facebook" class="external">
							<i class="fa fa-facebook-square"></i>
						</a>
						<a href="http://www.linkedin.com/company/5069134" target="_blank" id= "linkedin" class="external">
							<i class="fa fa-linkedin-square"></i>
						</a>
					</div>
      	</div>
    	</div>
    </div><!--/.nav-collapse -->		
    
		<%= yield %>
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-60431993-1', 'auto');
			ga('send', 'pageview');
		</script>	
	</body>

	<script type="text/javascript">
		
	</script>
	
</html>
