#clientes.seccion
	.page-header#header-clientes
		%center
			%h3{style:"color:white;"} CLIENTES
			.title-divisor
			%h1#title-large
				%span ELLOS HAN CONFIADO EN TREMMEL 
				%span.punto> .

	.container-client
		#myCarousel2.carousel.slide		
			.carousel-inner
				.active.item											
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						%center 
							.content-img-client
								%img{src: "assets/clientes/cliente9.png", width: "100%"}
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						%center 
							.content-img-client#cliente-img2
								%img{src: "assets/clientes/cliente16.png", width: "100%"}
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						%center 
							.content-img-client#cliente-img4
								%img{src: "assets/clientes/cliente15.png", width: "100%"}
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						%center 
							.content-img-client#cliente-img
								%img{src: "assets/clientes/cliente13.png", width: "85%"}
				.item	
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						%center 
							.content-img-client
								%img{src: "assets/clientes/cliente1.png", width: "100%"}
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						%center 
							.content-img-client#cliente-img3
								%img{src: "assets/clientes/cliente5.png", width: "100%"}
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						%center 
							.content-img-client
								%img{src: "assets/clientes/cliente7.png", width: "100%"}
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						%center 
							.content-img-client#cliente-img7
								%img{src: "assets/clientes/cliente14.png", width: "80%"}
				.item	
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						%center 
							.content-img-client#cliente-img7
								%img{src: "assets/clientes/cliente18.png", width: "75%"}
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						%center 
							.content-img-client
								%img{src: "assets/clientes/cliente4.png", width: "100%"}
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						%center 
							.content-img-client#cliente-img6
								%img{src: "assets/clientes/cliente8.png", width: "100%"}
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						%center 
							.content-img-client#cliente-img4
								%img{src: "assets/clientes/cliente3.png", width: "110%"}
				.item	
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						%center 
							.content-img-client
								%img{src: "assets/clientes/cliente2.png", width: "100%"}
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						%center 
							.content-img-client#cliente-img7
								%img{src: "assets/clientes/cliente12.png", width: "75%"}
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						%center 
							.content-img-client#cliente-img6
								%img{src: "assets/clientes/cliente11.png", width: "100%"}
					.col-lg-3.col-md-3.col-sm-6.col-xs-12
						%center 
							.content-img-client#cliente-img6
								%img{src: "assets/clientes/cliente17.png", width: "80%"}

			%a.carousel-control.left{"data-slide" => "prev", href: "#myCarousel2", style:"background:none;" } 
				%span.glyphicon.glyphicon-chevron-left{ style: "left: 40px;" }
			%a.carousel-control.right{"data-slide" => "next", href: "#myCarousel2", style:"background:none" } 
				%span.glyphicon.glyphicon-chevron-right{ style: "right: 40px;" }
