#green-bar-2
#contactanos.seccion
	- if flash[:notice]
		.container
			.alert.alert-success 
				%button{ type:"button", class: "close", "data-dismiss"=>"alert", "aria-hidden"=>"true"}
					%i.fa.fa-times
				%center
					= "<strong>#{flash[:notice]}</strong> Pronto nos estaremos comunicando contigo.".html_safe
	- elsif flash[:alert]
		.container
			.alert.alert-danger 
				%button{ type:"button", class: "close", "data-dismiss"=>"alert", "aria-hidden"=>"true"}
					%i.fa.fa-times
				%center
					= "<strong>#{flash[:alert]}</strong> Favor verificar el Recaptcha.".html_safe
	.page-header{ style: "margin-bottom: 0px; padding-bottom: 0px;" }
		%center
			%h3{style:"color:white;"} CONTÁCTANOS
			.title-divisor
			%h1#title-large
				%span HABLA CON TREMMEL
				%span.punto> .
	.container
		.row 
			.col-xs-12.col-sm-6.col-md-6.col-lg-6.contactos-box
				.contactos-box-min
					%h3 
						%span> Escríbenos
					.row 
						= form_tag({controller: "staticpage", action: "contactar", method: "post"}, {class: "contact_form"}) do
							.row
								.col-md-6  
									= text_field_tag :name, "", :class=>'contactos-input', :type => "text", :placeholder=>'Nombre'
								.col-md-6
									= text_field_tag :email, "", :class=>'contactos-input', :type => "text", :placeholder=>'Email'
							.row
								.col-md-12
									= text_area_tag :comment, "", :class=>'contactos-textarea' , :placeholder=>'Mensaje'
							.row
								.col-md-12{style: "margin-bottom: 10px;"}
									= raw recaptcha_tags :display => { :theme => 'custom', lang: 'es' }, ajax: true
							.row
								.col-md-12
									= button_tag(type: 'submit', class: "btn btn-success", style:"width:100%") do
										%i.fa.fa-envelope.fa-2x
			%br.visible-xs	
			.col-xs-12.col-sm-6.col-md-6.col-lg-6.contactos-box
				.contactos-box-min
					%h3 
						%span.punto ¡ 
						%span> Ubícanos
						%span.punto> !
					%ul.contactos-lista 
						%li 
							%i.fa.fa-map-marker.fa-2x{ style:"padding-left: 4px;"} 
							&nbsp &nbsp Oficina Punto Fijo &nbsp &nbsp &nbsp &nbsp &nbsp +58 416.225.47.40 /   +58 412.123.13.28
							%br
							%br 
						%li 
							%i.fa.fa-map-marker.fa-2x{ style:"padding-left: 4px;"} 
							&nbsp &nbsp Oficina Barquisimeto &nbsp &nbsp +58 416.156.67.39 /   +58 424.533.75.16
							%br
							%br 
						%li 
							%i.fa.fa-envelope.fa-2x
							&nbsp &nbsp Email: hola@tremmelweb.com
							%br 
							%br
						%li 
							%i.fa.fa-facebook-square.fa-2x
							%a{:href => "https://www.facebook.com/tremmelweb", target: "_blank" }
								&nbsp &nbsp Visítanos en Facebook
							%br
							%br
						%li 
							%i.fa.fa-twitter-square.fa-2x
							%a{:href => "https://twitter.com/tremmelweb", target: "_blank" } 
								&nbsp &nbsp Síguenos en Twitter
							%br 
							%br
						%li 
							%i.fa.fa-linkedin-square.fa-2x
							%a{:href => "http://www.linkedin.com/company/5069134", target: "_blank"} 
								&nbsp &nbsp Conócenos en Linkendin
							%br 
							%br
						%li 
							%i.fa.fa-instagram.fa-2x
							%a{:href => "http://www.instagram.com/tremmelweb", target: "_blank"} 
								&nbsp &nbsp Siguenos en Instagram

.container{ style: "width:100%; padding: 0px; margin-top:0px;"}
	.col-xs-12.col-sm-12.col-md-12.col-lg-12{ style: "background-color: #2997ac; color: white; padding-top: 20px;font-family: 'Open Sans', 'sans-serif';"}
		%center 
			Todos los derechos reservados. TREMMEL es una marca de
			= image_tag ("slicegroup.png"), id: "slice"
		%br