#equipo.seccion
	.page-header
		%center
			%h3 TEAM
			.title-divisor
			%h1#title-large
				%span.punto ¡
				%span> Conócenos
				%span.punto> !
	.container#container-team
		%center
			.row#team
				.col-sm-6.col-md-6.item-team
					%center
						.foto-team
							#image-1.image-team.popover-team{"data-container" => "#equipo", "data-content" => "Ingeniero de sistemas coach de negocios tecnológicos, desarrollo de software bajo métodos ágiles. Administración avanzada de bases de datos y servidores. Modelado de negocios y sistemas, gerencia de proyectos, planificación estratégica y marketing digital.", "data-placement" => "bottom", "data-toggle" => "popover"}
								.back-image-team
								.back-image-team-2
								#icons-social-team
									%a{href:"https://plus.google.com/+EduardoMelendez01", target:"_blank"}
										%i.fa.fa-google-plus-square#gplus-team
									%a{href:"https://twitter.com/Melendez_Ed", target:"_blank"}
										%i.fa.fa-twitter-square#twitter-team
									%a{href:"http://www.linkedin.com/pub/eduardo-melendez/36/538/5b4", target:"_blank"}
										%i.fa.fa-linkedin-square#linkedin-team
						.col-xs-12.col-sm-12.col-md-12#team-description
							.col-xs-8.col-sm-.col-md-7#team-nombre
								%h4
									%span Eduardo Melendez
							.col-xs-4.col-sm-4.col-md-5#team-cargo
								%h4 
									%span CEO 
						
				.col-sm-6.col-md-6.item-team
					%center
						.foto-team
							#image-2.image-team.popover-team{"data-container" => "body", "data-content" => "Licenciado en Turismo, Director de operaciones en eje turismo de Tremmel, amplia experencia en la planificación, gestión y control de los procesos y sistemas operativos de hotelería y turismo.", "data-placement" => "bottom", "data-toggle" => "popover"}
								.back-image-team
								.back-image-team-2
								#icons-social-team
									%a{href:"https://plus.google.com/u/0/+LuisMiguelTremontGonzalez/about ", target:"_blank"}
										%i.fa.fa-google-plus-square#gplus-team
									%a{href:"https://twitter.com/tito__1 ", target:"_blank"}
										%i.fa.fa-twitter-square#twitter-team
									%a{href:"http://www.linkedin.com/pub/luis-miguel-tremont-gonzalez/73/452/b63 ", target:"_blank"}
										%i.fa.fa-linkedin-square#linkedin-team
						.col-xs-12.col-sm-12.col-md-12#team-description
							.col-xs-8.col-sm-.col-md-7#team-nombre
								%h4
									%span Luis Tremont
							.col-xs-4.col-sm-4.col-md-5#team-cargo
								%h4 
									%span COO

			

:javascript

	$(".popover-team").popover({ trigger: "hover", html: true});
