#modaldigital.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4#myModalLabel.modal-title 
          %center 
            TURISMO DIGITAL
      .modal-body.modal-body-green
        .row 
          .col-md-1 
            .hidden-xs.servicio-img2
              %img#t-digital{src:"/assets/turismodigital.png", width:"80px"}         
          .col-md-11  
            %center
              %h2 Turismo Digital.       
        %br/ 
        %ul{align:'justify'} 
          %li 
            %i.fa.fa-picture-o{style:'font-size: 20px;'}
            Estrategias de Marketing.
          %br/             
          %li 
            %i.fa.fa-picture-o{style:'font-size: 20px;'}
            Planificación del Marketing.
          %br/ 
          %li 
            %i.fa.fa-picture-o{style:'font-size: 20px;'}
            SEO & SEM.
          %br/ 
          %li 
            %i.fa.fa-picture-o{style:'font-size: 20px;'}
            Analítica web.
          %br/ 
          %li 
            %i.fa.fa-picture-o{style:'font-size: 20px;'}
            Marketing turístico.
          %br/
          %li 
            %i.fa.fa-picture-o{style:'font-size: 20px;'}
            Marketing gastronómico.
          %br/
          %li 
            %i.fa.fa-picture-o{style:'font-size: 20px;'}
            Comunidades digitales.
          %br/
          %li 
            %i.fa.fa-picture-o{style:'font-size: 20px;'}
            E-mail marketing.
          %br/
          %li 
            %i.fa.fa-picture-o{style:'font-size: 20px;'}
            Social Media coaching.
          %br/
          %li 
            %i.fa.fa-picture-o{style:'font-size: 20px;'}
            Social Media Manager.
          %br/
          %li 
            %i.fa.fa-picture-o{style:'font-size: 20px;'}
            Social Media ROI / ROMO / ROMI.
          %br/ 
      .modal-footer{style:"margin-top: 0px;"}
        %button.btn.btn-primary{"data-dismiss" => "modal", type: "button", style:"font-family: 'Open Sans', 'sans-serif';"} Cerrar

