#modalinteligente.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4#myModalLabel.modal-title 
          %center 
            TURISMO INTELIGENTE 
      .modal-body.modal-body-blue
        .row 
          .col-md-1 
            .hidden-xs.servicio-img2
              %img#t-inteligente{src:"/assets/turismointeligente.png", width:"80px"}    
          .col-md-11  
            %center
              %h2 Turismo Inteligente.       
        %br/ 
        %ul{align:'justify'} 
          %li 
            %i.fa.fa-signal{style:'font-size: 20px;'}
            Desarrollo de aplicaciones Web.
          %br/             
          %li 
            %i.fa.fa-signal{style:'font-size: 20px;'}
            Servicios Cloud para hosting y correos corporativos.
          %br/ 
          %li
            %i.fa.fa-signal{style:'font-size: 20px;'} 
            Desarrollo de aplicaciones Móviles.
          %br/ 
          %li
            %i.fa.fa-signal{style:'font-size: 20px;'} 
            Inteligencia de mercados.
          %br/ 
          %li
            %i.fa.fa-signal{style:'font-size: 20px;'} 
            Inteligencia de negocios.
          %br/ 
          %li
            %i.fa.fa-signal{style:'font-size: 20px;'} 
            Planificación y diseño de ciudades y destinos inteligentes.
          %br/ 
      .modal-footer{style:"margin-top: 0px;"}
        %button.btn.btn-success{"data-dismiss" => "modal", type: "button", style:"font-family: 'Open Sans', 'sans-serif';"} Cerrar