#modalcreativo.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4#myModalLabel.modal-title 
          %center 
            TURISMO CREATIVO 
      .modal-body.modal-body-blue
        .row 
          .col-md-1 
            .hidden-xs.servicio-img2
              %img#t-creativo{src:"/assets/turismocreativo.png", width:"80px"}
          .col-md-11  
            %center
              %h2 Turismo creativo.       
        %br/ 
        %ul{align:'justify'} 
          %li 
            %i.fa.fa-tags{style:'font-size: 20px;'}
            Arquitectura de Marcas (Branding).
          %br/   
          %li 
            %i.fa.fa-tags{style:'font-size: 20px;'}
            Identidad corporativa.
          %br/ 
          %li 
            %i.fa.fa-tags{style:'font-size: 20px;'}
            Diseño Gráfico.
          %br/ 
          %li 
            %i.fa.fa-tags{style:'font-size: 20px;'}
            Diseño web responsive.
          %br/ 
          %li 
            %i.fa.fa-tags{style:'font-size: 20px;'}
            Asesoría UX / UI.
          %br/ 
          %li 
            %i.fa.fa-tags{style:'font-size: 20px;'}
            Diseño de impresos.
          %br/ 
          %li 
            %i.fa.fa-tags{style:'font-size: 20px;'}
            Edición y montajes fotográficos.
          %br/ 
          %li 
            %i.fa.fa-tags{style:'font-size: 20px;'}
            Benchmarking turístico.
          %br/ 
          %li 
            %i.fa.fa-tags{style:'font-size: 20px;'}
            Publicidad BTL.
          %br/ 
          %li 
            %i.fa.fa-tags{style:'font-size: 20px;'}
            Publicidad en televisión.
          %br/  
      .modal-footer{style:"margin-top: 0px;"}
        %button.btn.btn-success{"data-dismiss" => "modal", type: "button", style:"font-family: 'Open Sans', 'sans-serif';"} Cerrar